@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  padding: 1.5rem 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 100;
  cursor: pointer;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  align-items: center;
  width: 1000px;
  margin-top: 1rem;
  grid-template-columns: 33% 33% 33%;
}
@media (max-width: 975px) {
  .grid {
    flex-direction: column;
    grid-template-columns: 50% 50%;
    width: 650px;
  }
}
@media (max-width: 650px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}
.card {
  margin: 1rem;
  flex-basis: 45%;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding-bottom: 20px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #fd9bc9;
  border-color: #ff8fdd;
}

.cardImage {
  width: 100%;
  height: 400px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.cardTitle {
  font-size: 20px;
  height: 50px;
  text-align: center;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navbar {
  width: 100%;
  background-color: rgb(254, 239, 255);
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.navlink {
  margin-left: 20px;
}

.productImages {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 20px;
}

.productImg {
  width: 49.5%;
}

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.addToCart {
  color: white;
  background-color: rgb(50, 50, 50);
  align-self: center;
  padding: 10px 40px;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  font-size: 13px;
}

.addToCart:hover {
  background-color: rgb(100, 100, 100);
}

.sizes {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.productSize,
.productSizeSelected {
  width: 50px;
  height: 50px;
  color: black;
  background-color: rgb(220, 212, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  user-select: none;
  cursor: pointer;
}
.productSizeSelected {
  background-color: rgb(50, 50, 50);
  color: white;
}

.navMenu {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 600px;
  border: solid 1px #333;
  /* border-radius: 20px 20px 0 0; */
  z-index: 3;
}

.navMenu a {
  float: left;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 3;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 500;
  padding: 7px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navMenu a:hover,
.dropdown:hover .dropbtn {
  text-decoration: underline;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  border: solid 1px #333;
  margin-left: -1px;
  /* border-radius: 0 0 20px 20px; */
  border-top: none;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.cart {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 80%;
  max-width: 900px;
}

.cartItem {
  display: flex;
  flex-direction: row;
  height: 150px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
}

.cartItem:last-child {
  border-bottom: none;
}

.cartItemImageAndText {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}

.cartItemImage {
  height: 90%;
  margin: 10px 20px 10px 10px;
}

.cartItemTitle {
  font-size: 15px;
}

.infoCartValue {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  max-width: 900px;

  padding-bottom: 30px;
  border-bottom: solid 1px #999;
}

.infoLabelValue {
  display: flex;
  font-size: 14px;
}

.infoLabelValueTotal {
  display: flex;
  font-size: 17px;
  margin-top: 15px;
  font-weight: 700;
}

.infoLabel {
  width: 150px;
}

.infoValue {
  width: 150px;
  text-align: right;
}

.removeProduct {
  cursor: pointer;
}

.addressForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 20px;
}

.addressFormLabelAndInput {
  margin-bottom: 10px;
}

.addressFormLabel {
  width: 150px;
  display: inline-block;
  font-size: 14px;
}

.addressFormInput {
  height: 40px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 1px solid #999;
}

.addressFormInput:focus {
  border: 1px solid #444;
}

.saveAddressButton {
  color: white;
  background-color: rgb(50, 50, 50);
  align-self: center;
  padding: 10px 40px;
  cursor: pointer;
  user-select: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  align-self: stretch;
}

.saveAddressButton:disabled {
  color: rgb(70, 70, 70);
  background-color: rgb(200, 200, 200);
  user-select: none;
  cursor: default;
}

.closeAddressFormButton {
  background-color: rgb(254, 239, 255);
  align-self: center;
  padding: 10px 40px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #999;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  align-self: stretch;
  margin-top: 15px;
  margin-bottom: 10px;
}

.addresses {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.addressItemSelected,
.addressItemUnselected {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #999;
  border-radius: 20px;
  padding: 20px;
  user-select: none;
}

.addressItemSelected {
  border: 2px solid #222;
}

.placeOrderButton {
  color: white;
  background-color: rgb(50, 50, 50);
  align-self: center;
  padding: 15px 50px;
  cursor: pointer;
  user-select: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.placeOrderButton:disabled {
  color: rgb(70, 70, 70);
  background-color: rgb(200, 200, 200);
  user-select: none;
  cursor: default;
}

.pageTitle {
  margin-bottom: 20px;
}

.addressItemAndDelete {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.deleteAddressButton {
  cursor: pointer;
  user-select: none;
}

.orderSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 900px;
  align-self: center;
  /* border: solid 1px #999; */
  border-radius: 20px;
  padding: 20px;
  background-color: #e5e5e5;
  font-size: 14px;
  margin-bottom: 20px;
}

.orderDetails {
  display: flex;
  flex-direction: column;
}

.orderDetailsButton {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.orderId {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.orderDetailAndAddress {
  display: flex;
  width: 80%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.orderDetailItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #999;
  border-radius: 20px;
  padding: 20px;
  user-select: none;
}

.userDetail {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.userButton {
  color: white;
  background-color: rgb(50, 50, 50);
  align-self: center;
  width: 200px;
  margin: 0 10px;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  font-size: 13px;
}

.userButtons {
  display: flex;
}

.userDetailsAndButtons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;
}

.colorSwatches {
  display: flex;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  background: #f5f5f5;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.colorSwatch {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.colorSwatch:hover {
  opacity: 0.85;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

.filterName {
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
}
.applyFiltersButton {
  margin-top: 20px;
  padding: 7px 14px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.priceRangeContainer {
  display: flex;
  border: 1px solid #333;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background: #f5f5f5;
  flex-wrap: wrap;
  justify-content: center;
}

.priceRangeInput {
  width: 80px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #333;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.priceRangeLine {
  height: 1px;
  flex-grow: 1;
  max-width: 100px;
  background-color: #999;
  align-self: center;
}

.signinItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signinForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 30px;
  margin-top: 80px;
  background: #f5f5f5;
  align-items: center;
}

.signinLabel {
  font-size: 14px;
}

.signinInput {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.registerAndSignIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signinLink,
.signupLink {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
}

.signupLink {
  margin-top: 20px;
}

.productNonSignedInMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bellaCardImage {
  width: 50%;
  max-width: 600px;
  object-fit: contain;
  margin-bottom: 20px;
}

.bellaCardsInfoImage {
  width: 80%;
  max-width: 900px;
}

.smallTitle {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
}

.cardParagraph {
  margin-top: 10px;
  max-width: 400px;
  text-align: center;
}

.twoTextContainer {
  display: flex;
  width: 80%;
  max-width: 900px;
  justify-content: space-between;
}

.singleTextcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
